spring:
  application:
    name: study_logs
  datasource:
    url: jdbc:postgresql://localhost:5432/studylog
    username: postgres
    password: ${DB_PASSWORD}
  jpa:
    database: POSTGRESQL
    hibernate:
      ddl-auto: update
    show-sql: true
